@tailwind base;
@tailwind components;
@tailwind utilities;
/* slick carousel */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.right-div {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none; 
  }
  
  .right-div::-webkit-scrollbar {
    display: none;
  }
  